/* Diagnostic Styling */
* {
  outline: 1px dotted gray;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;800&family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

/* Page Wrapper */
main {

  /*  make two colums  */
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

/* Primary Content */
article {
  background: #0d90c2;
  padding: 2em;

  /*  vert center. horiz center.  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

article p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

/* Secondary Content */
aside {
  background: lightcoral;
}

aside img {
  /* fit image to container */
  display: block;
  max-width: 100%;

  /* full height image. Fit to container. no stretching. */
  height: 100vh;
  object-fit: cover;
}

/* Links */
a:link, a:visited {
  /* make transition-able */
  display: inline-block;

  color: #1799c6;
  text-decoration: none;
  background: #fff;
  border-radius: 4px;
  padding: 0.5em 1em;

  transition: transform 0.25s;
}

a:hover, a:active {
  background:#1799c6;
  color: #fff;
  transform: scale(1.25);
  
  box-shadow: 0 0 0 2px #1799c6;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-1rem);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes biggy {
  from {
      transform: scale(.75);
  }
  to {
      transform: scale(1.25);
  }
}


/* Apply Animations */

img {
  opacity: 0;
}

img {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  /* stay at last keyframe */
  animation-fill-mode: both;
}

article h1, 
article p  {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-delay: 2s;
  /* stay at last keyframe */
  animation-fill-mode: both;

}

article p { 
  animation-delay: 3s;
}

/* Media Queries */
@media screen and (max-width: 799px) {
  
  
  main {
    grid-template-columns: 1fr;
  }

  article h1 {
    font-size: 2rem;
  }

  nav a {
    display: block;
    margin-bottom: 1em;
    text-align: center;
  }

}

@media screen and (min-width: 1000px) {

  aside img {
      /* fit image to container */
    display: block;
    max-width: 100%; 
  }

}